<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @profile.number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @profile.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @profile.zip_code %>
</p>

<p>
  <strong>University:</strong>
  <%= @profile.university %>
</p>

<p>
  <strong>Degree of study:</strong>
  <%= @profile.degree_of_study %>
</p>

<p>
  <strong>Year:</strong>
  <%= @profile.year %>
</p>

<p>
  <strong>Current employer:</strong>
  <%= @profile.current_employer %>
</p>

<p>
  <strong>Title:</strong>
  <%= @profile.title %>
</p>

<p>
  <strong>Duties:</strong>
  <%= @profile.duties %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
