<%= simple_form_for(@idea) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :profile %>
    <%= f.input :project_name %>
    <%= f.input :project_description %>
    <%= f.association :user %>
    <%= f.input :business_plan %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
